<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login STAR Devs</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container-login">
    <h2>
        <a th:href="@{/}" style="text-decoration: none; color: inherit; cursor: pointer;">
            STAR DEVS
        </a>
    </h2>
    <h3>Login</h3>
    <form th:action="@{/auth/login}" method="post" th:object="${data}">
        <div>
            <label>Username</label>
            <input type="text" th:field="*{username}" placeholder="Masukkan username" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" th:field="*{password}" placeholder="Masukkan password" />
        </div>
        <button type="submit" class="btn-primary">LOGIN</button>
    </form>
    <div class="btn-group">
        <a href="/forgot-password" class="btn-warning">LUPA PASSWORD</a>
        <a href="/register" class="btn-warning">DAFTAR</a>
    </div>
</div>
</body>
</html>
