<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrasi STAR Devs</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="container-register">
    <h2>STAR Devs</h2>
    <h3>Registrasi</h3>
    <form th:action="@{/register}" method="post" th:object="${registerDto}">
        <div>
            <label>Nama</label>
            <input type="text" th:field="*{fullName}" placeholder="Masukkan nama lengkap" />
        </div>
        <div>
            <label>Username</label>
            <input type="text" th:field="*{username}" placeholder="Masukkan username" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" th:field="*{password}" placeholder="Masukkan password" />
        </div>
        <div>
            <label>Email</label>
            <input type="email" th:field="*{email}" placeholder="Masukkan email" />
        </div>
        <div>
            <label>No.Telp</label>
            <input type="text" th:field="*{phone}" placeholder="Masukkan nomor telepon" />
        </div>
        <button type="submit" class="btn-primary">DAFTAR</button>
    </form>
</div>
</body>
</html>
