<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tambah Transaksi</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container">
    <h2 class="mb-4">Tambah Transaksi Baru</h2>

    <form th:action="@{'/transaksi/withdraw/' + ${data.targetTabunganId}}" method="post" th:object="${data}">
        <div class="mb-3">
            <input type="hidden" th:field="*{targetTabunganId}" class="form-control"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Jenis Transaksi</label>
            <input type="text" th:field="*{jenisTransaksi}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Jumlah Transaksi</label>
            <input type="number" th:field="*{jumlahTransaksi}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Keterangan</label>
            <input type="text" th:field="*{keterangan}" class="form-control"/>
        </div>

        <button type="submit" class="btn-primary">Simpan</button>
        <a th:href="@{'/target/detail/' + ${data.targetTabunganId}}" class="btn-primary">Cancel</a>
    </form>
</div>
</body>
</html>
