<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah Target Tabungan</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="container-target-add">
    <h2>Tambahkan Tabungan</h2>
    <form th:action="@{/targets/save}" method="post" th:object="${targetDto}">
        <div>
            <label>Nama Target</label>
            <input type="text" th:field="*{nama}" placeholder="Masukkan nama target tabungan" />
        </div>
        <div>
            <label>Nominal Target</label>
            <input type="number" th:field="*{nominalTarget}" placeholder="Masukkan nominal target" />
        </div>
        <div>
            <label>Deadline Tanggal</label>
            <input type="date" th:field="*{deadline}" />
        </div>
        <div>
            <label>Target Tabungan</label>
            <input type="text" th:field="*{targetTabungan}" placeholder="Masukkan target tabungan" />
        </div>
        <div>
            <label>Jumlah Setoran</label>
            <input type="number" th:field="*{jumlahSetoran}" placeholder="Rp." />
        </div>
        <div>
            <label>Deskripsi</label>
            <textarea th:field="*{deskripsi}" placeholder="Masukkan deskripsi"></textarea>
        </div>
        <button type="submit" class="btn-success">Save</button>
    </form>
</div>
</body>
</html>
