<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <title>HOME</title>
</head>
<body>
<h1 style="color: green">HOME</h1>
<nav>
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <th:block th:if="${USR_NAME != null}" th:utext="${MENU_NAVBAR}"></th:block>
        <li><a th:href="@{/logout}" th:if="${USR_NAME != null}" >Logout</a></li>
        <li><a th:href="@{/}" th:if="${USR_NAME == null}" >Login</a></li>
        <li><a th:href="@{/contactus}">Contact Us</a></li>
        <li><a th:href="@{/promo}">Promo</a></li>
    </ul>
</nav>
</body>
</html>