<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Target Tabungan</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="home-container">
    <h1 class="header">STAR DEVS</h1>
    <h2>Daftar Target Tabungan</h2>
    <div class ="controls select">
           <div class = "sorting">
            <select>
                <option>Nama</option>
                <option>Progres</option>
            </select>
            <!-- Tombol tambah target baru -->
            <a class="add-button" th:href="@{/target/a}">Tambah Target Baru></a>
            <span class="badge">19</span>
           </div>
    </div>
    <!-- Tabel daftar target -->
    <div th:each="target : ${targetList}" class ="card">
            <h3><strong th:text="${target.targetName}"></strong></h3>
            <p><strong>Harga :</strong> Rp <span th:text=" ${target.hargaTarget}"></span></p>
            <p><strong>Dana Terkumpul :</strong> Rp <span th:text="${target.danaTerkumpul}"></span></p>
            <p><strong>Mulai :</strong> <span th:text=" ${target.tanggalMulaiTarget}"></span></p>
            <p><strong>Deadline :</strong> <span th:text=" ${target.tanggalSelesaiTarget}"></span></p>
            <p><strong>Deskripsi :</strong> <span th:text=" ${target.deskripsi}"></span></p>
            <p><strong>Status :</strong> <span th:text=" ${target.statusTarget}"></span></p>
            <p><strong>Progress :</strong> 25% (Rp 2.500.000)</p>
            <a th:href="@{'/target/detail/' + ${target.id}}">
                <button class="detail-btn">Detail</button>
            </a>

    </div>
</div>
</body>
</html>